.git
.gitignore
.gitattributes
.env.example
README.md
docker-compose.yml
node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
phpunit.xml
tests
.editorconfig
.styleci.yml
certbot/
*.sh
SSL-SETUP.md
nginx-*.conf
